:root {
	--hover-color: #2196F3;
	--main-text-color: #212121;
	--main-font: 14px;
}

body {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	color: var(--main-text-color);
	font-size: var(--main-font);
}

.main-btn:hover,
.main-btn:focus {
	background-color: #2196F3;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
	background-color: var(--hover-color);	
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--hover-color);
	cursor: pointer;
}

