:root {
	--hover-color: #2196F3;
	--main-title-color: #212121;
	--text-color: #757575;

}

.logo {
	font-family: 'Raleway';
	font-weight: 700px;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #2196F3;
	text-decoration: none;
}

body {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	color: var(--main-title-color)
}



.logo-header {
	color: #000000;
}

.logo-footer {
	color: #FFFFFF;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.pre-title {
	font-weight: 700px;
		font-size: 36px;
		line-height: 1.70;
		text-align: center;
		letter-spacing: 0.03em;	
}

/*---------main page---------*/


/*---------header---------*/

.nav-list a.nav-link {
	pointer-events: painted;
}

.link {
	font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
background-color: var(--hover-color);
color: #757575;
}

.contacts-link {
	color: #757575;
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--hover-color);
}

.nav-link:hover,
.nav-link:focus {
	background-color: var(--hover-color);	
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--hover-color);
}


/*---------hero---------*/

.hero {
	background-color: #2F303A;
}

.hero-title {
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
		text-align: center;
		letter-spacing: 0.06em;
		color: #FFFFFF;
}

.hero-btn {
	margin-left: 732px;
	width: 200px;
	height: 50px;
}


/*---------benefits---------*/

.benefits-title {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
}

.benefits-text {
	font-weight: 400;
		font-size: 14px;
		line-height: 1.70;
		letter-spacing: 0.03em;
		color: var(--text-color);
}

/*---------team---------*/

.team {
	background-color: #F5F4FA;
}

.team-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.team-text {
	font-weight: 400;
		font-size: 16px;
		line-height: 1.88;
		text-align: center;
		letter-spacing: 0.03em;
		color: var(--text-color);
}


/*---------footer---------*/

.address {
	font-weight: 400px;
		font-size: 14px;
		line-height: 1.71;	
		letter-spacing: 0.03em;
		font-style: normal;
		color: #FFFFFF;
}

.footer {
	background-color: #2F303A;
	padding-left: 215px;
}


/*---------portfolio-page---------*/

/*---------filter---------*/

.filter-btn {
	cursor: pointer;
	font-family: inherit;
}

/*---------work-examples---------*/

.examples-title {
		font-weight: 700;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
}

.examples-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.03em;
}